.appHeader
  display: flex
  align-items: center
  justify-content: space-between
  height: var(--header-height)

.title
  margin: 0 1rem
  font-size: 2rem

.navContainer
  a
    margin-right: 1rem
    text-decoration: none
    color: black
    transition: opacity linear 150ms
    &:hover
      opacity: 0.8
